<html>
<head>
<title>List Tag</title>
<link rel=icon href=logo.png type=image/png>
<link rel=stylesheet href=tutorial14_external.html
<meta name=viewport content=width=device-width, initial-scale=1.0>
</head>
<body bgcolor=black topmargin=20 leftmargin=50>
<hr size=4 color=blue width=50%>
<h1 align=center><font color=white>Introduction to My Favourite Mobile Legends Characters</font></h1>
<hr size=4 color=blue width=50%>

<style>
/* change the bg color to white and font color to black */
body {background-color: white; color: black;}

/* selector for the heading */
h1 {text-align: center; font-family: Arial, sans-serif; color: black;}

/* selector for images */
img { border: 2px solid #000; border-radius: 10px;}
<br><br>
<img src="Alucard.png" height=150 width=220 align=top>
<font color=white size=4><b>
Alucard is a demon hunter with a deep hatred for demons. He's a Fighter/Assassin hybrid meaning he can be played as a side laner.
</b></font>

<br><br>
<img src="Lesley.png" height=150 width=220 align=top>
<font color=white size=4><b>
Lesley, the Deadly Sniper, is a hero in Mobile Legends: Bang Bang. Lesley is one of the few marksmen in the game who use Energy instead of Mana.
</b></font>

<br><br>
<img src="Lunox.png" height=150 width=220 align=top>
<font color=white size=4><b>
Lunox was born with magical powers, and her dreamworld reflects and changes the real world.
</b></font>

<br><br>
<img src="Chou.png" height=150 width=220 align=top>
<font color=white size=4><b>
Chou is a gifted martial artist born in the slums. He learned the ancient oriental martial arts under the tutelage of a mysterious monk.
</b></font>

<br><br><br>


</body>
</html>
